<h2 class="text-secondary text-center">EMPLOYEES IN COMPANY</h2>

        
            <div class="col-10 offset-10">
                <button class="btn btn-info  m-2" data-toggle="modal"data-target="#newModal">
            <i class="fa fa-plus"></i>NewEmployee</button>
        </div>
        
        <div class="row">
            <div class="col-3">
            <button class="btn btn-outline-secondary m-2" data-toggle="modal"data-target="#newDesignation">
                <i class="fa fa-plus"></i>ADD DESIGNATION</button>
            </div>
            <div class="col-3">
                <button class="btn btn-outline-secondary m-2" data-toggle="modal"data-target="#getDesignation">
                    <i class="fa fa-plus"></i>ASSIGN DESIGNATION</button>
                </div>
                <div class="col-3">
                    <button (click)="getDesignation(0)" class="btn btn-outline-primary m-2" data-toggle="modal"data-target="#designationassign">
                        <i class="fa fa-caret-square-o-down"></i>Designation List</button>
                    </div>

                    <div class="col-3">
                        <button (click)=" getAllLeave()"  class="btn btn-outline-primary m-2" data-toggle="modal" data-target="#leaveList">
                            <i class="fa fa-caret-square-o-down"></i>Leave List</button>
                        </div>
               
        </div>


        

    <table class="table table-borderd table-striped table-active">
        <thead>
            <tr>
                <td>EmployeeId</td>
                <td>EmployeeName</td>
                <td>EmployeeAddress</td>
                <td>Employee_PancardNO.</td>
                <td>EmployeeAccountNO.</td>
                <td>EmployeePfNO.</td>
                <td>Roles Assigned</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let employee of EmployeeList">
                <td>{{employee.employeeId}}</td>
                <td>{{employee.employeeName}}</td>
                <td>{{employee.employeeAddress}}</td>
                <td>{{employee.employee_Pancard_Number}}</td>
                <td>{{employee.employeeAccount_Number}}</td>
                <td>{{employee.employeePF_Number}}</td>
                <td>{{employee.role}}</td>
                <td>                    <button  class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                      <i class="fa fa-edit"></i> 
                    </button>
                    <button  class="btn btn-danger p-1 m-1">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-secondary" data-toggle="modal" data-target="#leaveStatus">LeaveStatus</button>
                   
                </td>
            </tr>
        </tbody>
    </table>
    <!--NewEmployee-->
    <form>
        <div class="modal" id="newModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
    
                    <div class="model-header">
                        <div class="modal-title">NewEmployee</div>
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="txtname" class="col-sm-4">EmployeeName</label>
                            <div class="col-8">
                                <input type="text" [(ngModel)]="newEmployee.employeeName" name="employeeName" placeholder="Enter Name" id="txtname" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="txtaddress" class="col-sm-4">EmployeeAddress</label>
                            <div class="col-8">
                                <input type="text" name="employeeAddress" [(ngModel)]="newEmployee.employeeAddress" id="txtaddress" placeholder="Enter Address" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="txtpan" class="col-sm-4">EmployeePanNo.</label>
                            <div class="col-8">
                                <input type="text" name="employee_Pancard_Number" [(ngModel)]="newEmployee.employee_Pancard_Number" id="txtpan" placeholder="Enter PanCardNo" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="txtaccno" class="col-sm-4">EmployeeAccountNo</label>
                            <div class="col-8">
                                <input type="text" name="employeeAccount_Number" [(ngModel)]="newEmployee.employeeAccount_Number" id="txtaccno" placeholder="Enter AccountNo" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="txtpfno" class="col-sm-4">Employee PFNo.</label>
                            <div class="col-8">
                                <input type="text" name="employeePF_Number" [(ngModel)]="newEmployee.employeePF_Number" id="txtpfno" placeholder="Enter PFNo" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="txtcompanyid" class="col-sm-4">CompanyID</label>
                            <div class="col-8">
                                <input type="number" name="companyId" [(ngModel)]="newEmployee.companyId"  id="txtcompanyid" placeholder="Enter CompanyID" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="txtcompanyid" class="col-sm-4">Select Role</label>
                            <div class="col-8">
                                <select class="custom-select"(change)="getValue($event)" formControlName="roleName">
                                    <option  *ngFor="let role of Role" >{{role}}</option>
                                
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="txtusername" class="col-sm-4">UserName</label>
                            <div class="col-8">
                                <input type="text" name="userName" [(ngModel)]="newEmployee.userName"  id="username" placeholder="Enter userName" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="txtemail" class="col-sm-4">Email</label>
                            <div class="col-8">
                                <input type="text" name="email" [(ngModel)]="newEmployee.email"  id="txtemail" placeholder="Enter Email" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="txtpswrd" class="col-sm-4">password</label>
                            <div class="col-8">
                                <input type="password" name=".password" [(ngModel)]="newEmployee.password"  id="txtpswrd" placeholder="Enter password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button (click)="saveClick()" class="btn btn-success" data-dismiss="modal">
                            save
                        </button>
                        <button class="btn btn-danger"data-dismiss="modal">
                            cancel
                        </button>
                    </div>
    
                </div>
            </div>
        </div>
    </form>
    <!--ADD DESIgnation-->

    <form>
        <div class="modal" id="newDesignation" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="model-header">
                        <div class="modal-title text-info text-bold  text-center text-primary"><h5>--ADD DESIGNATION--</h5></div>
                    </div>

                    <div class="modal-body" title="New DESIGNATION">
                        <div class="form-group row">
                            <label for="txtdesignation" class="col-sm-4">ADD DESIGNATION</label>
                            <div class="col-8">
                                <input type="text" name="designationName"[(ngModel)]="newDesignation.designationName" placeholder="ADD DESIGNATION" id="txtdesignation" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer margin-auto">
                        <div class="auto-max">
                        <button (click)="saveDesignation()" class="btn btn-success" data-dismiss="modal">
                            save
                        </button>
                        <button class="btn btn-danger"data-dismiss="modal">
                            cancel
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
    </form>
    <!--AssignDesignation-->
    <form>
        <div class="modal" id="getDesignation" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="model-header">
                        <div class="modal-title text-secondary text-center text-bold"><h3> DESIGNATION TO EMPLOYEE</h3></div>
                    </div>

                    <div class="modal-body" title="New DESIGNATION">
                        <div class="form-group row">
                            <label for="txtempid" class="col-sm-4 text-info">EMPLOYEE ID</label>
                            <div class="col-8">
                                <input type="text" name="employeeID"[(ngModel)]="assignDesignation.employeeId" placeholder="Enter valid Id" id="empid" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtdesignationName" class="col-sm-4 text-info">DesginationName</label>
                            <div class="col-8">
                                <input type="text" name="designationName"[(ngModel)]="assignDesignation.designationName" placeholder="EnTer Valid Designation Name" id="txtdesignationName" class="form-control">
                            </div>
                        </div>
                    
                    </div>
                    <div class="modal-footer margin-auto">
                        <div class="auto-max">
                        <button (click)="employeeDesignation()" class="btn btn-success" data-dismiss="modal">
                            save
                        </button>
                        <button class="btn btn-danger"data-dismiss="modal">
                            cancel
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!--List For Employee ASSIGNED DESIGNATION-->
    <form>
        <div class="modal" id="designationassign" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="model-header">
                        <div class="modal-title text-success text-center text-bold"><h6>DESIGNATION ASSIGNED</h6></div>
                    </div>
                    <div class="modal-body" title="New DESIGNATION">
                        <div class="form-group row">
                            
                            <div class="col-8">
                         <table class="table table-info table-borderd  ">
                            <thead>
                                <tr>
                                <td><h6>Emp Id</h6></td>
                                <td><h6>Emp Name</h6></td>
                                <td><h6>Designation</h6></td>
                            </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor=" let designation of DesignationList">
                                <td>{{designation.employeeId}}</td>
                                <td>{{designation.employeeName}}</td>
                                <td>{{designation.designations.designationName}}</td>
                            </tr>
                            </tbody>

                            
                         </table>
                        
                            </div>
                        </div>
                        </div>
                </div></div></div>
    </form>



 <!--SubmitLeave-->
 <form>
    <div class="modal" id="submitLeave" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="model-header">
                    <div class="modal-title text-secondary text-center text-bold"><h3>SubmitLeave</h3></div>
                </div>

                <div class="modal-body" title="LeaveStatus">
                    <div class="form-group row">
                        <label for="txtempid" class="col-sm-4 text-info">EMPLOYEE ID</label>
                        <div class="col-8">
                            <input type="text" name="employeeId" [(ngModel)]="saveLeave.employeeId" placeholder="Enter valid Id" id="txtempid" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="startDate" class="col-sm-4 text-info">StartDate</label>
                        <div class="col-8">
                            <input type="date" name="startDate"  [(ngModel)]="saveLeave.startDate" id="startDate" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="EndDate" class="col-sm-4 text-info">EndDate</label>
                        <div class="col-8">
                            <input type="date" name="endDate" [(ngModel)]="saveLeave.endDate"  id="endDate" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Reason" class="col-sm-4 text-info">Reason</label>
                        <div class="col-8">
                            <input type="text" name="reason" [(ngModel)]="saveLeave.reason" placeholder="Reason for leave" id="Reason" class="form-control">
                        </div>
                    </div>
                
                </div>
                <div class="modal-footer margin-auto">
                    <div class="auto-max">
                    <button (click)="submitEmployeeLeave()" class="btn btn-success" data-dismiss="modal">
                        save
                    </button>
                    <button class="btn btn-danger"data-dismiss="modal">
                        cancel
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</form>



<!--Leave Status-->
<form>
    <div class="modal" id="leaveStatus" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="model-header">
                    <div class="modal-title text-success text-center text-bold"><h6>LeaveStatus</h6></div>
                </div>
                <div class="modal-body" title="New DESIGNATION">
                    <div class="form-group row">
                        
                        <div class="col-8">
                     <table class="table table-info table-borderd  ">
                        <thead>
                            <tr>
                            <td><h6>StartDate</h6></td>
                            <td><h6>EndDate</h6></td>
                            <td><h6>Status</h6></td>
                        </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor=" let designation of DesignationList">
                            <td>{{designation.employeeId}}</td>
                            <td>{{designation.employeeName}}</td>
                            <td>{{designation.designations.designationName}}</td>
                        </tr>
                        </tbody>

                        
                     </table>
                    
                        </div>
                    </div>
                    </div>
            </div></div></div>
</form>


<!--Leave List-->
<form>
    <div class="modal" id="leaveList" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="model-header">
                    <div class="modal-title text-success text-center text-bold"><h6>DESIGNATION ASSIGNED</h6></div>
                </div>
                <div class="modal-body" title="New DESIGNATION">
                    <div class="form-group row">
                        
                        <div class="col-8">
                     <table class="table table-info table-borderd  ">
                        <thead>
                            <tr>
                                <td><h6>EmployeeID</h6></td>
                            <td><h6>StartDate</h6></td>
                            <td><h6>EndDate</h6></td>
                            <td><h6>reason</h6></td>
                            <td><h6>Status</h6></td>
                        </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor=" let leave of LeaveList">
                            <td>{{leave.employeeId}}</td>
                            <td>{{leave.startDate}}</td>
                            <td>{{leave.endDate}}</td>
                            <td>{{leave.reason}}</td>
                            <td>{{leave.status}}</td>
                        </tr>
                        </tbody>

                        
                     </table>
                    
                        </div>
                    </div>
                    </div>
            </div></div></div>
</form>